apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: demo
  labels:
    app: frontend
    env: dev
    team: platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
        env: dev
        team: platform
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      serviceAccountName: frontend
      containers:
        - name: frontend
          image: curlimages/curl:latest
          command: [ "sleep", "infinity" ]
          resources:
            limits:
              cpu: 100m
              memory: 64Mi
            requests:
              cpu: 50m
              memory: 32Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: frontend
  namespace: demo
  labels:
    app: frontend
    env: dev
    team: platform
